html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, #0084c29d);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #000000;
  color: #f8f8f8;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: .8 rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #0084c29d;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #ffffff;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #0084c29d;
  color: #08b1ff;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */
.clapper {
  background-color: #ffffff;
  opacity: 0.8;
  background: repeating-linear-gradient(45deg, #000000, #000000 13px, #ffffff 13px, #ffffff 65px);
  width: 400px;
  max-width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
}

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #6c69693f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  text-align: center;
}

input {
  padding: auto;
  margin: auto;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Media Pages Table
-------------------------------------------------------------------------------- */
table{
  align-self: center;
  box-sizing: border-box;
  display: block;
  width: 80%;
  height: 400px;
  overflow: scroll;
  padding: 25px;
  margin: 0 auto;
  background-color: #6c69693f;
  border-style: groove;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.347);
  font-size: 12pt;
  text-align: center;
  table-layout: fixed;
}
.table::-webkit-scrollbar {
  display: none;
}
.page-title{
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #81d5fce3;
  text-align: center;
  color:#d0dce4;
  font-size: 30pt;
}
.status-key {
  text-align: center;
}
th{
  color: rgb(194, 225, 253);
  text-decoration-line: underline;
  padding: 10px;
  margin: 10px;
}
td{
  padding: 10px;
  margin: 10px;
  
}
.list{
  display: flex;
  justify-content: center;
}
.tdTitle{
  width: 180px;
}
.tdButton{
  width: 300px;
}
/* --------------------------------------------------------------------------------
Media Pages: Status Change Buttons
-------------------------------------------------------------------------------- */
.toWatchButton{
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 45px;
  background-color: #0084c29d;
  color: #f8f8f8;
  font-size: .8rem;
  outline: 0;
  cursor: pointer;
}
.toWatchButton:hover {
  background-color: #000000;
  text-decoration: none;
}

.completedButton{
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 45px;
  background-color: #7a7a7a;
  color: #f8f8f8;
  font-size: .8rem;
  outline: 0;
  cursor: pointer;
}
.completedButton:hover {
  background-color: #000000;
  text-decoration: none;
}

.dnfButton{
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 45px;
  background-color: #e6c12fae;
  color: #f8f8f8;
  font-size: .8rem;
  outline: 0;
  cursor: pointer;
}
.dnfButton:hover {
  background-color: #000000;
  text-decoration: none;
}
.currentlyButton{
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 45px;
  background-color: #00c29e64;
  color: #f8f8f8;
  font-size: .8rem;
  outline: 0;
  cursor: pointer;
}
.currentlyButton:hover {
  background-color: #000000;
  text-decoration: none;
}

.deleteButton{
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 45px;
  background-color: #a20606ae;
  color: #f8f8f8;
  font-size: .8rem;
  outline: 0;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: #000000;
  text-decoration: none;
}