.page-title-to-watch {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #0084c29d;;
    text-align: center;
    color: #d0dce4;
    font-size: 30pt;
}
.to-watch-list{
    display: flex;
    justify-content: center;
    border-color: #7a7a7a;
    
  }