.page-title-dnf {
    text-align: center;
    color: #d0dce4;
    font-size: 35pt;
    font-family: 'Dancing Script Variable', cursive;
}
.dnf-list{
    display: flex;
    justify-content: center;
    border-color: #e6c12fae;
    
  }